
h1{
 color: #F8FAFC;
 background-color:#9AA6B2 ;
 border-radius: 20px;
 padding: 1rem;
 text-align: center;
 font-family: "Comic Neue", serif;
 font-weight: 700;
 font-style: normal;
}
div{
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}